/* ------------------------ Shadows ------------------------ */

@mixin shadow-builder($suffix, $h-offset, $v-offset, $blur, $spread, $color){
    .shadow-#{$suffix}{
        box-shadow: #{$h-offset} #{$v-offset} #{$blur} #{$spread} #{$color};
    }
}

@include shadow-builder(sm, 0, 0.5rem, 1.0rem, 0, rgba(0,0,0,0.1));
@include shadow-builder(md, 0, 1.0rem, 2.0rem, 0, rgba(0,0,0,0.2));
@include shadow-builder(lg, 0, 1.0rem, 3.0rem, 0, rgba(0,0,0,0.3));

.shadow-none{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}