/* ------------------------ Text ------------------------ */

// Horizontal position
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}

// Case
.text-upper{
    text-transform: uppercase;
}
.text-lower{
    text-transform: lowercase;
}
.text-caps{
    text-transform: capitalize;
}

// Color
.text-muted{
    color: grey;
}